{% extends 'logged.base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1 class="text-center">Books Management</h1>
    <div class="container p-0">
       <div class="row align-items-baseline">
           <div class="col-md-11">
               <table class="table table-bordered">
                   <thead>
                   <tr>
                       <th>Id</th>
                       <th>Name</th>
                       <th>Author</th>
                       <th>actions</th>
                   </tr>
                   </thead>
                   <tbody>
                   {% for book in books %}
                       <tr>
                           <td>{{ book.id }}</td>
                           <td>{{ book.name }}</td>
                           <td>{{ book.author }}</td>
                           <td>
                               <a class="p-2" href="{{ path('app_book_show', {'id': book.id}) }}"><i class="bi bi-book"></i></a>
                               <a class="p-2" href="{{ path('app_book_edit', {'id': book.id}) }}"><i class="bi bi-pen"></i></a>
                           </td>
                       </tr>
                   {% else %}
                       <tr>
                           <td colspan="5">no records found</td>
                       </tr>
                   {% endfor %}
                   </tbody>
               </table>
           </div>
            <div class="col-md-1">
                <a href="{{ path('app_book_new') }}"><h3><i class="bi bi-plus-circle"></i></h3></a>
            </div>


       </div>
    </div>

{% endblock %}
